
# honeyd RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
host=127.0.0.1
port=40639

# bootstrap.dat hashlist settings (linearize-hashes)
min_height=0
max_height=850000

# bootstrap.dat input/output settings (linearize-data)
netmagic=cefb134e
input=/home/username/.honey
output_file=bootstrap.dat
hashlist=hashlist.txt
split_year=1

